test.jl

# Dont update the magnetic materials folder
Magnetostatics/Materials/

# Dont upload testing files
Magnetostatics/Testing/

# Dont upload new CAD models
STEP_Models/

# Dont update micromagnetic simulation
# results
Micromagnetics/M_H_curves
Micromagnetics/FEM-BEM/M_H_curves
